/*recordatorio: variables mixins y mapas = utilities*/
/*recordatorio: 2do llamado carpeta Base*/
/*modificaciones generales*/
* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: content-box; }

a {
  text-decoration: none;
  color: inherit; }

.logoLantana, .joya img, .joya .nuevosIngresos, .joya .bannersProductos {
  text-align: center; }

.joya img, .joya .nuevosIngresos, .joya .bannersProductos {
  display: flex;
  width: 100%; }

.listaNav, .separador, .separadorIngresos, .separadorFinal {
  background-color: #FFBCBC;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  list-style: none;
  min-height: 1.2rem;
  padding-top: 0.75rem;
  width: 100%; }
  .listaNav li, .separador li, .separadorIngresos li, .separadorFinal li {
    display: inline-block;
    font-size: 1.6rem;
    border-right: 1px solid black;
    padding: 1 1.7rem; }
    .listaNav li:last-child, .separador li:last-child, .separadorIngresos li:last-child, .separadorFinal li:last-child {
      border-right: none; }
    .listaNav li:hover, .separador li:hover, .separadorIngresos li:hover, .separadorFinal li:hover {
      color: grey; }
    .listaNav li:hover, .separador li:hover, .separadorIngresos li:hover, .separadorFinal li:hover {
      transform: scale(1.1);
      transition: transform 2s; }

/*main nuevos ingresos */
.nuevosIngresos {
  background-image: url(../assets/fondoingresos.png);
  text-align: center;
  width: 100%; }
  .nuevosIngresos img {
    max-height: 43%;
    margin: auto; }

/** fotos principales y fotos productos **/
.bannersProductos {
  display: flex;
  justify-content: center;
  column-gap: 6.25rem;
  padding-top: 3.125rem; }
  .bannersProductos div {
    border: 2px solid rgba(0, 0, 0, 0.135);
    border-radius: 22.25rem;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.197); }
    .bannersProductos div img {
      filter: opacity(50%); }
      .bannersProductos div img:hover {
        filter: opacity(100%); }
        .bannersProductos div img:hover ::before {
          transform: translate(0) rotate(360deg); }

.producto img {
  width: 100%; }

.verMas {
  text-align: center;
  font-size: 1.5625rem;
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration: underline;
  padding-top: 3.125rem; }
  .verMas:hover {
    color: grey; }

/*index con grid*/
.gridConteinter {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(3, 200px);
  /* maximo 12 columns */
  grid-template-rows: repeat(1, 200px);
  grid-template-areas: "item1 item2 item3";
  justify-content: center;
  align-content: center;
  column-gap: 450px;
  justify-items: center;
  align-items: center; }
  .gridConteinter div img {
    border: 2px solid rgba(0, 0, 0, 0.135);
    border-radius: 22.25rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.197);
    border: 2px solid rgba(0, 0, 0, 0.135);
    border-radius: 22.25rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.197);
    filter: blur(3px); }
    .gridConteinter div img:hover {
      filter: blur(0px); }

.item1 {
  width: 250%;
  grid-area: item1;
  display: flex;
  justify-content: center;
  align-items: center; }
  .item1 img {
    width: 100%;
    height: 100%;
    transition: width 1s; }
    .item1 img:hover {
      transform: scale(1.2);
      transition: transform 2s; }

.item2 {
  width: 250%;
  grid-area: item2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .item2 img {
    width: 100%;
    height: 100%;
    transition: width 1s; }
    .item2 img:hover {
      transform: scale(1.2);
      transition: transform 2s; }

.item3 {
  width: 250%;
  grid-area: item3;
  display: flex;
  justify-content: center;
  align-items: center; }
  .item3 img {
    width: 100%;
    height: 100%;
    transition: width 1s; }
    .item3 img:hover {
      transform: scale(1.2);
      transition: transform 2s; }

/*nosotros*/
.nosotros {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .nosotros img {
    width: 37.5rem; }

.parrafo {
  font-family: 'Montserrat Alternates', sans-serif;
  align-self: center;
  text-align: center;
  font-size: 2rem; }
  .parrafo::first-letter {
    font-size: 2.5rem; }

/*faQ*/
.preguntasFrecuentes {
  display: inline-block; }

.pFaq {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 1.25rem;
  margin-top: 120px;
  margin-bottom: 120px; }
  .pFaq::first-letter {
    font-size: 2.5rem; }

.imgFaq {
  width: 100%; }

/*Contactos*/
.contactos {
  display: inline; }

.imgContactos {
  width: 100%; }

.pContactos {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 1.25rem;
  margin-top: 12px;
  margin-bottom: 50px; }
  .pContactos::first-letter {
    font-size: 5.5rem; }

/** Footer **/
.footer {
  background-color: #000000d3;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif; }
  .footer h3 {
    color: #ffffff;
    padding-top: 0.5rem; }

.redes {
  margin: 0.5rem 0 0 0; }
  .redes .Ig, .redes .Fb {
    width: 50px; }

.navFooter {
  color: #ffffff;
  display: block;
  text-align: center;
  margin: 1rem; }

/*404*/
.error404 {
  text-align: center; }
  .error404 img {
    align-items: center;
    border-radius: 25%; }
  .error404 h1 {
    text-shadow: 1px 1px black;
    font-size: 5vh;
    padding: 20px; }
  .error404 a {
    text-align: center;
    font-size: 1.5625rem;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: underline; }
    .error404 a:hover {
      color: grey; }
  .error404 div {
    padding-bottom: 10.625rem; }

.footer {
  background-color: #000000d3;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif; }
  .footer h3 {
    color: #ffffff;
    padding-top: 0.5rem; }

.redes {
  margin: 0.5rem 0 0 0; }
  .redes .Ig, .redes .Fb {
    width: 50px; }

.navFooter {
  color: #ffffff;
  display: block;
  text-align: center;
  margin: 1rem; }

/*quarys*/
/* faQ media */
@media (max-width: 1024px) {
  .joya {
    display: flex;
    width: 100%; }
  .separadorIngresos {
    padding-top: 0.20rem; }
  .pFaq .pContactos {
    font-size: 1.6rem; }
  .footer h3 {
    font-size: 1.5625rem; }
  .navFooter {
    font-size: 1.5625rem; } }

/* Contactos media */
@media (max-width: 1024px) {
  .pContactos {
    font-size: 1.6rem; } }

/* Index media */
@media (max-width: 1024px) {
  .gridConteinter {
    column-gap: 9.375rem; }
  .item1 {
    width: 18.75rem; }
  .item2 {
    width: 18.75rem; }
  .item3 {
    width: 18.75rem; } }

/* faQ media */
@media (max-width: 768px) {
  .pFaq .pContactos {
    font-size: 1.4rem; }
  .footer h3 {
    font-size: 1.55rem; }
  .footer .Ig {
    width: 35px; }
  .footer .Fb {
    width: 35px; }
  .navFooter {
    font-size: 1.3625rem; } }

/* Contactos media */
@media (max-width: 768px) {
  .pContactos {
    font-size: 1.55rem; } }

/* nosotros media */
@media (max-width: 768px) {
  .nosotros img {
    padding-top: .625rem;
    width: 20rem; }
  .nosotros p {
    font-size: 1.6rem; }
    .nosotros p::first-letter {
      font-size: 2.3rem; } }

/* Index media */
@media (max-width: 768px) {
  .gridConteinter {
    column-gap: 3.125rem; }
  .item1 {
    width: 100%; }
  .item2 {
    width: 100%; }
  .item3 {
    width: 100%; } }

/* bootstrap media */
@media (max-width: 768px) {
  .p-5 {
    column-gap: 50px; } }

/* faQ media */
@media (max-width: 425px) {
  .logoLantana img, .joya img img, .joya .nuevosIngresos img, .joya .bannersProductos img {
    width: 80%; }
  .joya {
    display: flex;
    width: 100%; }
  .listaNav {
    background-color: #FFBCBC; }
  .listaNav li {
    font-size: 1.2rem; }
  .separadorIngresos {
    font-size: 1.2rem;
    padding-top: 0.20rem; }
  .pFaq .pContactos {
    font-size: 1rem; }
  .footer h3 {
    font-size: 1.150rem; }
  .footer .Ig {
    width: 30px; }
  .footer .Fb {
    width: 30px; }
  .navFooter {
    font-size: 18px; } }

/* Contactos media */
@media (max-width: 425px) {
  .pContactos {
    font-size: 1rem; } }

/* nosotros media */
@media (max-width: 425px) {
  .nosotros img {
    padding-top: .625rem;
    width: 18.75rem; }
  .nosotros p {
    font-size: 1.2rem; }
    .nosotros p::first-letter {
      font-size: 2rem; } }

/* Index media */
@media (max-width: 425px) {
  .gridConteinter {
    grid-template-columns: repeat(1, 200px);
    column-gap: 3.125rem;
    row-gap: 3.125rem;
    padding-top: 6.125rem;
    grid-template-areas: "item1" "item2" "item3";
    justify-content: center;
    align-content: center; }
  .item1 {
    width: 100%; }
  .item2 {
    width: 100%; }
  .item3 {
    width: 100%; } }

/*productos */
@media (max-width: 425px) {
  .bannersProductos {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem; } }

/*error404 media */
@media (max-width: 425px) {
  .error404 img {
    width: 18.75rem; } }

/* faQ media */
@media (max-width: 320px) {
  .logoLantana img, .joya img img, .joya .nuevosIngresos img, .joya .bannersProductos img {
    width: 70%; }
  .listaNav {
    background-color: #FFBCBC;
    padding-top: 0.5rem; }
  .listaNav li {
    display: flex;
    flex-direction: column;
    font-size: .9375rem; }
  .separadorIngresos {
    padding-top: 0.20rem;
    font-size: 1rem; }
  .pFaq {
    font-size: 0.8rem; }
    .pFaq::first-letter {
      font-size: 1.5rem; }
  .footer h3 {
    font-size: .9375rem; }
  .footer .Ig {
    width: 25px; }
  .footer .Fb {
    width: 25px; }
  .navFooter {
    font-size: 12px; } }

/* Contactos media */
@media (max-width: 320px) {
  .pContactos {
    font-size: 0.8rem; }
    .pContactos::first-letter {
      font-size: 1.5rem; } }

/* nosotros media */
@media (max-width: 320px) {
  .nosotros img {
    padding-top: .625rem;
    width: 15.75rem; }
  .nosotros p {
    font-size: 16px; }
    .nosotros p::first-letter {
      font-size: 1.5rem; } }

/*index media */
@media (max-width: 320px) {
  .gridConteinter {
    padding-top: 6.25rem; } }

/*404 media*/
@media (max-width: 320px) {
  .error404 img {
    width: 15.75rem; } }
