*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: content-box;
}
a{
    text-decoration: none;
    color:inherit;
}
/** logo lantana y lista de navegación **/
.logoLantana{
    text-align: center;
}
.listaNav, .separador, .separadorIngresos, .separadorFinal{
    background-color: #FFBCBC;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    list-style: none;
    min-height: 1.2rem;
    padding-top: 0.75rem;
    width: 100%;
    li{
        display: inline-block;
        font-size: 1.6rem;
        border-right: 1px solid rgb(0,0,0);
        padding: 1 1.7rem;
        &:last-child{
            border-right: none;
        }
        &:hover{
            color: grey;
        }
    }
}
.joya{
    text-align: center;
    img, .nuevosIngresos, .bannersProductos{
        display: flex;
        width: 100%;
    }
}
/*main nuevos ingresos */
.nuevosIngresos{
    background-image: url(../assets/fondoingresos.png);
    text-align: center;
    width: 100%;
    img{
        max-height: 43%;
        margin: auto;
    }
}
/** fotos principales **/

.bannersProductos .producto{
    gap: 1.25rem;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    div{
        border: 2px solid rgba(0, 0, 0, 0.135);
        border-radius: 22.25rem;
        overflow: hidden;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.197);
        img{
            filter: opacity(50%);
            &:hover{
                filter: opacity(100%);
            }
        }
    }
}
.producto{
    img{
        width: 100%;
    }
}
.verMas{
    text-align: center;
    font-size: 1.5625rem;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: underline;
    &:hover{
        color: grey;
    }
}
/*index con grid*/
.gridConteinter{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 200px); /* maximo 12 columns */
    grid-template-rows: repeat(1, 200px);
    grid-template-areas: 
    "item1 item2 item3"
    ;
    justify-content: center;
    align-content: center;
    column-gap: 450px;
    justify-items: center;
    align-items: center;
    div{
        img{
            border: 2px solid rgba(0, 0, 0, 0.135);
            border-radius: 22.25rem;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.197);border: 2px solid rgba(0, 0, 0, 0.135);
            border-radius: 22.25rem;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.197);
            filter: blur(2px);
            &:hover{
                filter: blur(0px);
            }
        }
    }
}
.item1{
    grid-area: item1;
    justify-self: center;
    align-self: center;
    width: 300%;
    img{
        width: 100%;
    }
}
.item2{
    grid-area: item2;
    justify-self: center;
    width: 300%;
    img{
        width: 100%;
    }
}
.item3{
    grid-area: item3;
    justify-self: center;
    width: 300%;
    img{
        width: 100%;
    }
}
/** Footer **/
.footer{
    background-color: #000000d3;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    h3{
        color: #ffffff;
        padding-top: 0.5rem;
    }
}
.redes {
    margin: 0.5rem 0 0 0;
    .Ig, .Fb{
        width: 50px;
    }
}
.navFooter {
    color: #ffffff;
    display: block;
    text-align: center;
    margin: 1rem;
}
/*nosotros*/

.nosotros{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.parrafo{
    font-family: 'Montserrat Alternates', sans-serif;
    align-self: center;
    text-align: center;
    font-size: 2rem;
    &::first-letter{
        font-size: 5.5rem;
    }
}
/*faQ*/

.preguntasFrecuentes{
    display: inline-block;
}
.pFaq{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: 1.25rem ;
    margin-top: 120px;
    margin-bottom: 120px;
    &::first-letter{
        font-size: 5.5rem;
    }
}
.imgFaq{
    width: 100%;
}
/*Contactos*/

.contactos{
    display: inline;
}
.imgContactos{
    width: 100%;
}
.pContactos{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: 1.25rem ;
    margin-top: 12px;
    margin-bottom: 50px;
    &::first-letter{
        font-size: 5.2rem;
    }
}


