/* faQ media */

@media (max-width: 768px){
    .pFaq .pContactos{
        font-size: 1.4rem;
    }
    .footer h3 {
        font-size: 1.55rem;
    }
    .footer .Ig {
        width: 35px;
    }
    .footer .Fb{
        width: 35px;
    }
    .navFooter {
        font-size: 1.3625rem;
    }
}
/* Contactos media */

@media (max-width: 768px){
    .pContactos{
        font-size: 1.55rem;
    }
}
/* nosotros media */

@media (max-width: 768px){
    .nosotros{
        img{
            padding-top: .625rem;
            width: 20rem;
        }
        p{
            font-size: 1.6rem;
            &::first-letter{
                font-size: 2.3rem;
            }
        }
    }
}
/* Index media */

@media (max-width: 768px){
    .gridConteinter{
        column-gap: 3.125rem;
    }
    .item1{
        width: 100%;
    }
    .item2{
        width: 100%;
    }
    .item3{
        width: 100%;
    }
}

/* bootstrap media */

@media (max-width: 768px){
    .p-5{
        column-gap: 50px;
    }
}