/* faQ media */

@media (max-width: 1024px){
    .joya{
        display: flex;
        width: 100%;
    }
    .separadorIngresos{
        padding-top: 0.20rem;
    }
    .pFaq .pContactos{
        font-size: 1.6rem;
    }
    .footer h3 {
        font-size: 1.5625rem;
    }
    .navFooter {
        font-size: 1.5625rem;
    }
}
/* Contactos media */

@media (max-width: 1024px){
    .pContactos{
        font-size: 1.6rem;
    }
}

/* Index media */

@media (max-width: 1024px){
    .gridConteinter{
        column-gap: 9.375rem    ;
    }
    .item1{
        width: 18.75rem;
    }
    .item2{
        width: 18.75rem;
    }
    .item3{
        width: 18.75rem;
    }
}