@media (max-width: 1024px){
    .separadorIngresos{
        padding-top: 0.20rem;
    }
    .pFaq .pContactos{
        font-size: 1.6rem;
    }
    .footer h3 {
        font-size: 1.5625rem;
    }
    .navFooter {
        font-size: 1.5625rem;
    }
}
/* Contactos media */

@media (max-width: 1024px){
    .pContactos{
        font-size: 1.6rem;
    }
}