@media (max-width: 768px){
    .pFaq .pContactos{
        font-size: 1.4rem;
    }
    .footer h3 {
        font-size: 1.55rem;
    }
    .footer .Ig {
        width: 35px;
    }
    .footer .Fb{
        width: 35px;
    }
    .navFooter {
        font-size: 1.3625rem;
    }
}
/* Contactos media */

@media (max-width: 768px){
    .pContactos{
        font-size: 1.55rem;
    }
}